In [ ]:
# добавляем библиотеки
import numpy as np
import pandas as pd

%matplotlib inline

In [ ]:
#откроем данные
from google.colab import files
uploaded = files.upload()

In [ ]:
data = pd.read_csv('unconv.csv')
data.head()

   Well    Por  Perm    AI  Brittle   TOC    VR         Prod
0     1  12.08  2.92  2.80    81.40  1.16  2.31  4165.196191
1     2  12.38  3.53  3.22    46.17  0.89  1.88  3561.146205
2     3  14.02  2.59  4.01    72.80  0.89  2.72  4284.348574
3     4  17.67  6.75  2.63    39.81  1.08  1.88  5098.680869
4     5  17.52  4.57  3.18    10.94  1.51  1.90  3406.132832

In [ ]:
#Постройте корреляционную матрицу факторов, включив в неё целевой признак.
matrix = data.corr()
print(data.corr())

             Well       Por      Perm        AI   Brittle       TOC        VR  \
Well     1.000000  0.068927  0.077928  0.041483 -0.079252  0.022624 -0.007279
Por      0.068927  1.000000  0.760546 -0.461549 -0.218570  0.711831  0.111860
Perm     0.077928  0.760546  1.000000 -0.239636 -0.124017  0.471746  0.051023
AI       0.041483 -0.461549 -0.239636  1.000000  0.127599 -0.531864  0.499143
Brittle -0.079252 -0.218570 -0.124017  0.127599  1.000000 -0.214282  0.317929
TOC      0.022624  0.711831  0.471746 -0.531864 -0.214282  1.000000  0.299483
VR      -0.007279  0.111860  0.051023  0.499143  0.317929  0.299483  1.000000
Prod     0.026817  0.861910  0.727426 -0.390835  0.237155  0.654445  0.323182

             Prod
Well     0.026817
Por      0.861910
Perm     0.727426
AI      -0.390835
Brittle  0.237155
TOC      0.654445
VR       0.323182
Prod     1.000000

In [ ]:
#Вычислите ранг полученной матрицы корреляций
print('Rank:', np.linalg.matrix_rank(matrix))

Rank: 8

In [ ]:
#Вычислите определитель матрицы корреляций
print('Determinant: {:.4f}'.format(np.linalg.det(matrix)))

Determinant: 0.0007

In [ ]:
X = np.column_stack((np.ones(200), data.drop('Prod', axis=1)))
y = data[['Prod']]

In [ ]:
w_hat = np.linalg.inv(X.T@X)@X.T@y
print(w_hat.values)

[[-1.23230803e+03]
 [ 5.07003631e-02]
 [ 2.30179140e+02]
 [ 1.16239006e+02]
 [-3.65202301e+02]
 [ 2.49943700e+01]
 [-7.84009294e+01]
 [ 7.85259815e+02]]

In [ ]:
from sklearn.model_selection import cross_validate

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
# добавляем полиномиальные признаки
poly = PolynomialFeatures(degree=3, include_bias=False)
X = poly.fit_transform(X)

# создаём модель линейной регрессии
lr = LinearRegression()

# оцениваем качество модели на кросс-валидации, метрика — MAPE
cv_results = cross_validate(lr, X, y, scoring='neg_mean_absolute_percentage_error', cv=5, return_train_score=True)
print('MAPE на тренировочных фолдах: {:.2f} %'.format(-cv_results['train_score'].mean()* 100))
print('MAPE на валидационных фолдах: {:.2f} %'.format(-cv_results['test_score'].mean() * 100))

MAPE на тренировочных фолдах: 0.34 %
MAPE на валидационных фолдах: 2.66 %

**3.1**

In [ ]:
# Сгенерируйте полиномиальные признаки третьего порядка на факторах, которые вы выбрали для обучения моделей
X = data[['Por', 'AI', 'Brittle', 'VR']]
poly = PolynomialFeatures(degree=3, include_bias=False)
X_poly = poly.fit_transform(X)
display(pd.DataFrame(X_poly))

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,12.08,2.80,81.40,2.31,145.9264,33.8240,983.3120,27.9048,7.8400,227.9200,...,21.952000,638.176000,18.110400,18552.688000,526.495200,14.941080,539353.144000,15305.967600,434.358540,12.326391
1,12.38,3.22,46.17,1.88,153.2644,39.8636,571.5846,23.2744,10.3684,148.6674,...,33.386248,478.709028,19.492592,6863.973858,279.494712,11.380768,98419.153113,4007.537532,163.183248,6.644672
2,14.02,4.01,72.80,2.72,196.5604,56.2202,1020.6560,38.1344,16.0801,291.9280,...,64.481201,1170.631280,43.737872,21252.358400,794.044160,29.667584,385828.352000,14415.564800,538.603520,20.123648
3,17.67,2.63,39.81,1.88,312.2289,46.4721,703.4427,33.2196,6.9169,104.7003,...,18.191447,275.361789,13.003772,4168.118943,196.836564,9.295472,63092.325141,2979.491868,140.704464,6.644672
4,17.52,3.18,10.94,1.90,306.9504,55.7136,191.6688,33.2880,10.1124,34.7892,...,32.157432,110.629656,19.213560,380.593848,66.099480,11.479800,1309.338584,227.398840,39.493400,6.859000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,11.95,2.97,67.18,2.06,142.8025,35.4915,802.8010,24.6170,8.8209,199.5246,...,26.198073,592.588062,18.171054,13404.062628,411.020676,12.603492,303193.578232,9297.093944,285.085048,8.741816
196,17.99,3.38,44.32,2.08,323.6401,60.8062,797.3168,37.4192,11.4244,149.8016,...,38.614472,506.329408,23.762752,6639.206912,311.587328,14.623232,87056.109568,4085.665792,191.746048,8.998912
197,12.12,3.52,57.07,1.73,146.8944,42.6624,691.6884,20.9676,12.3904,200.8864,...,43.614208,707.120128,21.435392,11464.586848,347.533472,10.535008,185876.128243,5634.583877,170.804803,5.177717
198,15.55,2.48,58.25,2.35,241.8025,38.5640,905.7875,36.5425,6.1504,144.4600,...,15.252992,358.260800,14.453440,8414.795000,339.481000,13.695800,197645.890625,7973.696875,321.685625,12.977875
199,20.89,3.23,46.17,2.27,436.3921,67.4747,964.4913,47.4203,10.4329,149.1291,...,33.698267,481.686993,23.682683,6885.290547,338.523057,16.643867,98419.153113,4838.888403,237.909393,11.697083

In [ ]:
def polynomial_regression_sk(X, y, k):
    poly = PolynomialFeatures(degree=k, include_bias=False)
    X_poly = poly.fit_transform(X)
    lr = LinearRegression().fit(X_poly, y)
    y_pred = lr.predict(X_poly)
    return X_poly, y_pred, lr.coef_

In [ ]:
# Оцените среднее значение метрики MAPE, используя кросс-валидацию на пяти фолдах.
# создаём модель линейной регрессии
lr = LinearRegression()

# оцениваем качество модели на кросс-валидации, метрика — MAPE
cv_results = cross_validate(lr, X, y, scoring='neg_mean_absolute_percentage_error', cv=5, return_train_score=True)
print('MAPE на тренировочных фолдах: {:.2f} %'.format(-cv_results['train_score'].mean()* 100))
print('MAPE на валидационных фолдах: {:.2f} %'.format(-cv_results['test_score'].mean() * 100))

MAPE на тренировочных фолдах: 4.02 %
MAPE на валидационных фолдах: 4.23 %

3.2

In [ ]:
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler

In [ ]:
X = data[['Por', 'AI', 'Brittle', 'VR']]

poly = PolynomialFeatures(degree=3, include_bias=False)
X_poly = poly.fit_transform(X)

# инициализируем стандартизатор StandardScaler
scaler = StandardScaler()
# подгоняем параметры стандартизатора (вычисляем среднее и СКО)
X = scaler.fit_transform(X)

# создаём модель линейной регрессии c L1-регуляризацией
lasso = Lasso(alpha=5, max_iter=10000)

# оцениваем качество модели на кросс-валидации
cv_results = cross_validate(lasso, X, y, scoring='neg_mean_absolute_percentage_error', cv=5, return_train_score=True)
print('MAPE на тренировочных фолдах: {:.2f} %'.format(-cv_results['train_score'].mean()* 100))
print('MAPE на валидационных фолдах: {:.2f} %'.format(-cv_results['test_score'].mean() * 100))

MAPE на тренировочных фолдах: 4.02 %
MAPE на валидационных фолдах: 4.23 %

3.3

In [ ]:
from sklearn.linear_model import Ridge

In [ ]:
# Обучите модель Ridge из библиотеки sklearn на полученных полиномиальных факторах, предварительно стандартизировав факторы с помощью StandardScaler. Коэффициент регуляризации выставите равным 1.
# Генерируем полиномиальные признаки третьего порядка на факторах, которые мы выбрали для обучения моделей
X = data[['Por', 'AI', 'Brittle', 'VR']]
poly = PolynomialFeatures(degree=3, include_bias=False)
X_poly = poly.fit_transform(X)
# инициализируем стандартизатор StandardScaler
scaler = StandardScaler()
# подгоняем параметры стандартизатора (вычисляем среднее и СКО)
X = scaler.fit_transform(X)
# добавляем полиномиальные признаки
poly = PolynomialFeatures(degree=3, include_bias=False)
X = poly.fit_transform(X)
# создаём модель линейной регрессии c L2-регуляризацией
ridge = Ridge(alpha=1, solver='svd')
# оцениваем качество модели на кросс-валидации
cv_results = cross_validate(ridge, X, y, scoring='neg_mean_absolute_percentage_error', cv=5, return_train_score=True)
print('MAPE на тренировочных фолдах: {:.2f} %'.format(-cv_results['train_score'].mean()* 100))
print('MAPE на валидационных фолдах: {:.2f} %'.format(-cv_results['test_score'].mean() * 100))

MAPE на тренировочных фолдах: 1.83 %
MAPE на валидационных фолдах: 2.72 %

In [ ]:
Por = data['Por']
AI = data['AI']
Brittle = data['Brittle']
VR = data['VR']
X = np.column_stack((np.ones(200), Por, AI, Brittle, VR))
y = data[['Prod']]

In [ ]:
# инициализируем стандартизатор StandardScaler
scaler = StandardScaler()
# подгоняем параметры стандартизатора (вычисляем среднее и СКО)
X = scaler.fit_transform(X)

# добавляем полиномиальные признаки
poly = PolynomialFeatures(degree=3, include_bias=False)
X = poly.fit_transform(X)

# создаём модель линейной регрессии c L1-регуляризацией
lasso = Lasso(alpha=5, max_iter=10000)

# оцениваем качество модели на кросс-валидации
cv_results = cross_validate(lasso, X, y, scoring='neg_mean_absolute_percentage_error', cv=5, return_train_score=True)
print('MAPE на тренировочных фолдах: {:.2f} %'.format(-cv_results['train_score'].mean()* 100))
print('MAPE на валидационных фолдах: {:.2f} %'.format(-cv_results['test_score'].mean() * 100))

MAPE на тренировочных фолдах: 1.83 %
MAPE на валидационных фолдах: 2.28 %

In [ ]:
# Обучите модель Ridge из библиотеки sklearn на полученных полиномиальных факторах, предварительно стандартизировав факторы с помощью StandardScaler. Коэффициент регуляризации выставите равным 1.
X = data[['Por', 'AI', 'Brittle', 'VR']]
y = data[['Prod']]
poly = PolynomialFeatures(degree=3, include_bias=False)
X_poly = poly.fit_transform(X)
# инициализируем стандартизатор StandardScaler
scaler = StandardScaler()
# подгоняем параметры стандартизатора (вычисляем среднее и СКО)
X = scaler.fit_transform(X)
# добавляем полиномиальные признаки
poly = PolynomialFeatures(degree=3, include_bias=False)
X = poly.fit_transform(X)
# создаём модель линейной регрессии c L2-регуляризацией
ridge = Ridge(alpha=1, solver='svd')
# оцениваем качество модели на кросс-валидации
cv_results = cross_validate(ridge, X, y, scoring='neg_mean_absolute_percentage_error', cv=5, return_train_score=True)
print('MAPE на тренировочных фолдах: {:.2f} %'.format(-cv_results['train_score'].mean()* 100))
print('MAPE на валидационных фолдах: {:.2f} %'.format(-cv_results['test_score'].mean() * 100))

MAPE на тренировочных фолдах: 1.83 %
MAPE на валидационных фолдах: 2.72 %